/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
   
    position: fixed;
    z-index: 99;
  }
  
  
  
  /* Logo styling */
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
   
  }
  
  .logo-text {
    color: #333;
  }
  
  .logo-pal {
    color: #84BD00;
  }
  
  /* Search container */
  .search-container {
 
    display: flex;
  
   
  }
 
  /* Search input */
  .search-input {

  padding: 8px 12px;
    border: 1px solid #ccc;
    width:400px ;
    margin: auto 0;
  }

  .search-button {
    background: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    display: flex;
    cursor:none;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  @media screen and (max-width: 768px){
  .navbar{
    padding: 10px 8px;
  }
.navbar-btn{
  display: none;
}
    
    .search-input{
      width: 180px;
    }
   
  
   
   
    
   
  }