
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Inter', sans-serif;
}

body {
margin: 0;
font-family:  'Inter', sans-serif;
overflow-x: hidden !important;
background-color: white;
color: #000000;


}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #84BD00;;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #218838;
  border-color: #ED8B00;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container{
  padding: 100px 50px;
}

.clear-button{
  background: #CE371C;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.clear-button:hover{
  background: #FF0000;
}

input{
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px){
 .container{
   padding: 70px 5px;
 }

}


